.gform_wrapper {

    input[type="text"], input[type="email"], input[type="tel"], select, textarea {
        background-color: $primary-dark-500;
        border: 1px solid $primary-dark-300;
        border-radius: 0;
        padding: 15px 15px;
        width: calc(100% - 30px);
        color: $primary-light-500;

        &:focus {
            outline: none;
            border: 1px solid $primary-dark-200;
            border-radius: 0;            
        }
    }

    .gform_fields {
        display: grid;
        grid-gap: 20px;
    }

    .hidden_label > label {
        display: none;
    }

    input[type="submit"] {
        text-decoration: none;
        display: block;
        padding: 15px 0;
        color: $primary-light-500;
        text-transform: uppercase;
        border: 2px solid $primary-color-500;
        background-color: $primary-color-500;
        border-radius: 50px;
        min-width: 150px;
        text-align: center;
        font-size: 14.6px;
        font-weight: 700;
        z-index: 1;
        position: relative;
        cursor: pointer;
        margin-top: 20px;
        
        &:hover {
            color: $primary-color-500;
            background-color: $primary-dark-500;
        }
    }

}