h1 {
	font-size: 36px;
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
}

h2 {
	font-weight: 400;
	font-size: 32px;
	font-weight: 700;
	line-height: 1.2;
	margin: 0 0 30px;
	color: $primary-light-500;

	&.has-text-color {
		strong {
			font-weight: inherit;
			color: $primary-light-500;
		}
	}
}

h3 {
	font-size: 16px;
	line-height: 1.5em;
	font-weight: 600;
	margin: 30px 0 20px;
	color: $primary-color-500;
}

h4 {
	font-size: 1em;
	line-height: 1.5em;
	font-weight: normal;
	line-height: 1.4em;
	margin: 0 0 10px;
}

h5 {
	font-size: .83em;
	line-height: 1.80723em;
	margin-top: 1.80723em;
	margin-bottom: 1.80723em;
}

h6 {
	font-size: .67em;
	line-height: 2.23881em;
	margin-top: 2.23881em;
	margin-bottom: 2.23881em;
}

p {
	margin: 1.5em 0;
	font-weight: 400;
	margin: 0 0 20px;
}

a {
	text-decoration: none;
	color: $primary-color-500;
	outline: none;
	transition: opacity 0.4s ease;
	word-wrap: break-word;
	font-weight: 600;
	&:active {
		outline: 0;
	}
	&:hover {
		outline: 0;
		opacity: 0.7;
	}
}
