@charset 'utf-8';

$break-mobile: 550px;
$break-tablet: 768px;
$break-desktop: 900px;
$break-large-desktop: 1250px;

@import "reset";
@import "fonts";
@import "colors";
@import "base";
@import "typography";
@import "buttons";
@import "forms";
@import "menus";
@import "header";
@import "footer";

@import "single";

@import "block-slider";
@import "block-popup";

@import "custom";